.hero__section {
  margin-top: 120px;
  position: relative;
  z-index: 1;
}

.hero__content h2 {
  line-height: 55px;
  font-size: 2.5rem;
  color: #8b0000;
  font-weight: 600;
}

.hero__content h2 span {
  background: linear-gradient(-45deg, #8b0000, #b22222, #dc143c, #8b0000);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #8b0000;
  margin-left: 7px !important;
  display: inline-block;
  font-weight: 700;
}

.hero__btns {
  margin-top: 40px;
}

.explore__btn,
.create__btn {
  border: none;
  outline: none;
  padding: 7px 25px !important;
  border-radius: 50px !important;
  border: 2px solid #8b0000 !important;
  font-size: 0.9rem;
  background: #8b0000;
  color: #f5e6d3;
  font-weight: 500;
}

.explore__btn i,
.create__btn i {
  color: #f5e6d3;
  font-size: 1rem;
}

.explore__btn a,
.create__btn a {
  text-decoration: none;
  color: #f5e6d3;
}

.hero__btns button a:hover {
  color: #8b0000;
}

.hero__img {
  width: 500px;
  margin-left: auto;
}

.hero__img img {
  border-radius: 7px;
}

.explore__btn:hover,
.create__btn:hover {
  background: #f5e6d3;
  border-color: #8b0000;
  color: #8b0000;
}

.explore__btn:hover i,
.create__btn:hover i {
  color: #8b0000;
}

.explore__btn:hover a,
.create__btn:hover a {
  color: #8b0000;
}

@media only screen and (max-width: 992px) {
  .hero__img {
    width: 300px;
  }

  .hero__section {
    margin-top: 90px;
  }

  .hero__content h2 {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .create__btn,
  .explore__btn {
    padding: 4px 25px !important;
  }

  .create__btn a,
  .explore__btn a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero__img {
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
}
