@media only screen and (max-width: 992px) {
  .nft__title {
    font-size: 0.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .bid__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }
  .history__link a {
    font-size: 0.6rem !important;
  }
}

.dp{
  color: #5d4037;
}

.input__item input {
  width: 20px;
  border: 1px solid rgba(139, 0, 0, 0.3);
  background: rgba(245, 230, 211, 0.8);
  color: #5d4037;
  padding: 9px 25px;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
}